<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
<div itemscope itemtype="https://schema.org/Person">

  {% if include.author.avatar %}
    <div class="author__avatar">
      {% if include.author.home %}
        <a href="{{ include.author.home | relative_url }}">
          <img src="{{ include.author.avatar | relative_url }}" alt="{{ include.author.name }}" itemprop="image">
        </a>
      {% else %}
        <img src="{{ include.author.avatar | relative_url }}" alt="{{ include.author.name }}" itemprop="image">
      {% endif %}
    </div>
  {% endif %}

  <div class="author__content">
    {% if include.author.home %}
      <a href="{{ include.author.home | relative_url }}"><h3 class="author__name" itemprop="name">{{ include.author.name }}</h3></a>
    {% else %}
      <h3 class="author__name" itemprop="name">{{ include.author.name }}</h3>
    {% endif %}
    {% if include.author.bio %}
      <div class="author__bio" itemprop="description">
        {{ include.author.bio | markdownify }}
      </div>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | remove: ":" | default: "Follow" }}</button>
    <ul class="author__urls social-icons">
      {% if include.author.location %}
        <li itemprop="homeLocation" itemscope itemtype="https://schema.org/Place">
          <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <span itemprop="name">{{ include.author.location }}</span>
        </li>
      {% endif %}

      {% if include.author.links %}
        {% for link in include.author.links %}
          {% if link.label and link.url %}
            <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i><span class="label">{{ link.label }}</span></a></li>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if include.author.uri %}
        <li>
          <a href="{{ include.author.uri }}" itemprop="url">
            <i class="fas fa-fw fa-link" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].website_label | default: "Website" }}</span>
          </a>
        </li>
      {% endif %}

      {% if include.author.email %}
        <li>
          <a href="mailto:{{ include.author.email }}">
            <meta itemprop="email" content="{{ include.author.email }}" />
            <i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</span>
          </a>
        </li>
      {% endif %}

      {% if include.author.keybase %}
        <li>
          <a href="https://keybase.io/{{ include.author.keybase }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fas fa-fw fa-key" aria-hidden="true"></i><span class="label">Keybase</span>
          </a>
        </li>
      {% endif %}

      {% if include.author.twitter %}
        <li>
          <a href="https://twitter.com/{{ include.author.twitter }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i><span class="label">Twitter</span>
          </a>
        </li>
      {% endif %}

      {% if include.author.facebook %}
        <li>
          <a href="https://www.facebook.com/{{ include.author.facebook }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i><span class="label">Facebook</span>
          </a>
        </li>
      {% endif %}

      {% if include.author.linkedin %}
        <li>
          <a href="https://www.linkedin.com/in/{{ include.author.linkedin }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i><span class="label">LinkedIn</span>
          </a>
        </li>
      {% endif %}

      {% if include.author.xing %}
        <li>
          <a href="https://www.xing.com/profile/{{ include.author.xing }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-xing-square" aria-hidden="true"></i><span class="label">XING</span>
          </a>
        </li>
      {% endif %}

      {% if include.author.instagram %}
        <li>
          <a href="https://instagram.com/{{ include.author.instagram }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-instagram" aria-hidden="true"></i><span class="label">Instagram</span>
          </a>
        </li>
      {% endif %}

      {% if include.author.tumblr %}
        <li>
          <a href="https://{{ include.author.tumblr }}.tumblr.com" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-tumblr-square" aria-hidden="true"></i><span class="label">Tumblr</span>
          </a>
        </li>
      {% endif %}

      {% if include.author.bitbucket %}
        <li>
          <a href="https://bitbucket.org/{{ include.author.bitbucket }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i><span class="label">Bitbucket</span>
          </a>
        </li>
      {% endif %}

      {% if include.author.github %}
        <li>
          <a href="https://github.com/{{ include.author.github }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-github" aria-hidden="true"></i><span class="label">GitHub</span>
          </a>
        </li>
      {% endif %}

      {% if include.author.gitlab %}
        <li>
          <a href="https://gitlab.com/{{ include.author.gitlab }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-gitlab" aria-hidden="true"></i><span class="label">GitLab</span>
          </a>
        </li>
      {% endif %}

      {% if include.author.stackoverflow %}
        <li>
          <a href="https://stackoverflow.com/users/{{ include.author.stackoverflow }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-stack-overflow" aria-hidden="true"></i><span class="label">Stack Overflow</span>
          </a>
        </li>
      {% endif %}

      {% if include.author.lastfm %}
        <li>
          <a href="https://last.fm/user/{{ include.author.lastfm }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-lastfm-square" aria-hidden="true"></i><span class="label">Last.fm</span>
          </a>
        </li>
      {% endif %}

      {% if include.author.dribbble %}
        <li>
          <a href="https://dribbble.com/{{ include.author.dribbble }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-dribbble" aria-hidden="true"></i><span class="label">Dribbble</span>
          </a>
        </li>
      {% endif %}

      {% if include.author.pinterest %}
        <li>
          <a href="https://www.pinterest.com/{{ include.author.pinterest }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-pinterest" aria-hidden="true"></i><span class="label">Pinterest</span>
          </a>
        </li>
      {% endif %}

      {% if include.author.foursquare %}
        <li>
          <a href="https://foursquare.com/{{ include.author.foursquare }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-foursquare" aria-hidden="true"></i><span class="label">Foursquare</span>
          </a>
        </li>
      {% endif %}

      {% if include.author.steam %}
        <li>
          <a href="https://steamcommunity.com/id/{{ include.author.steam }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-steam" aria-hidden="true"></i><span class="label">Steam</span>
          </a>
        </li>
      {% endif %}

      {% if include.author.youtube %}
        {% if include.author.youtube contains "://" %}
          <li>
            <a href="{{ include.author.youtube }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
              <i class="fab fa-fw fa-youtube" aria-hidden="true"></i><span class="label">YouTube</span>
            </a>
          </li>
        {% elsif include.author.youtube %}
          <li>
            <a href="https://www.youtube.com/user/{{ include.author.youtube }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
              <i class="fab fa-fw fa-youtube" aria-hidden="true"></i><span class="label">YouTube</span>
            </a>
          </li>
        {% endif %}
      {% endif %}

      {% if include.author.soundcloud %}
        <li>
          <a href="https://soundcloud.com/{{ include.author.soundcloud }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-soundcloud" aria-hidden="true"></i><span class="label">SoundCloud</span>
          </a>
        </li>
      {% endif %}

      {% if include.author.weibo %}
        <li>
          <a href="https://www.weibo.com/{{ include.author.weibo }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-weibo" aria-hidden="true"></i><span class="label">Weibo</span>
          </a>
        </li>
      {% endif %}

      {% if include.author.flickr %}
        <li>
          <a href="https://www.flickr.com/{{ include.author.flickr }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-flickr" aria-hidden="true"></i><span class="label">Flickr</span>
          </a>
        </li>
      {% endif %}

      {% if include.author.codepen %}
        <li>
          <a href="https://codepen.io/{{ include.author.codepen }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-codepen" aria-hidden="true"></i><span class="label">CodePen</span>
          </a>
        </li>
      {% endif %}

      {% if include.author.vine %}
        <li>
          <a href="https://vine.co/u/{{ include.author.vine }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-vine" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</span>
          </a>
        </li>
        
        {% if include.author.gscholar %}
        <li>
    <a href="https://scholar.google.com.au/citations?user={{include.author.gscholar}}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-google-scholar-square" aria-hidden="true"></i> Google Scholar
    </a>
      </li>
      {% endif %}

    </ul>
  </div>
</div>