{% if page.sidebar %}
  <div class="sidebar sticky">
    <img src="{{ page.header.teaser | relative_url }}"
             alt="{{page.header.image_alt }}">
    
    {% if page.collaborators %}
    
    <h3>Collaborators</h3>
    <ul>
      {% for cc in page.collaborators %}
        <li><a href={{site.data.collaborators[cc.name].url}}>{{cc.name}}</a> at {{site.data.collaborators[cc.name].affiliation}}</li>
      {% endfor %}
    </ul>
    {% endif %}
    
    {% if page.industry_partners %}
    <h3>Industry partners</h3>
    <ul>
      {% for ii in page.industry_partners %}
        <li><a href={{site.data.partners[ii.name].url}}>{{ii.name}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    
    {% if page.funders %}
    <h3>Funded by</h3>
    <ul>
      {% for ff in page.funders %}
        <li><a href={{site.data.funders[ff.name].url}}>{{ff.name}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    
  </div>
{% endif %} 